<div class="col-md-12">

    <p class="col-md-4" >Title:</p>

    <div class="col-md-3">
        <input type="text"  class="form-control"
               ng-model="product.title" />
    </div>

</div>
<div class="col-md-12">

    <p class="col-md-4" >Price:</p>

    <div class="col-md-3">
        <input type="text"  class="form-control"
               ng-model="product.price" />
    </div>

</div>
<div class="col-md-12">

    <p class="col-md-4" >Image:</p>

    <div class="col-md-3">
        <input type="text"  class="form-control"
               ng-model="product.image" placeholder="01/02/03"/>
    </div>

</div>

<div class="col-md-12">

    <p class="col-md-4" >Description:</p>

    <div class="col-md-3">
        <input type="text"  class="form-control"
               ng-model="product.description" />
    </div>

</div>
<div class="col-md-12">
    <button ng-click="add(product)" class="btn btn-default">Add</button>
</div>